<app-navbar-paqueteria></app-navbar-paqueteria>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Solicitudes de Publicacion</h1>
        </div>
    </div>
</header>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Categoria</th>
      <th>Precio</th>
      <th>Cui vendedor</th>

      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitud of solicitudes; let i=index">
      <td>{{solicitud.titulo_producto}} </td>
      <td>{{solicitud.descripcion}} </td>
      <td>{{solicitud.categoria}} </td>
      <td>{{"Q. "+solicitud.precio}}        </td>
      <td>{{solicitud.cui_vendedor}}</td>
      <td>
        <button type="button" (click)="aceptarProducto(i)" class="btn btn-success">
          Aceptar
        </button>
      </td>
    </tr>
  </tbody>
</table>